.box-container {
  /* border: 1px solid edf6ff; */
  border-radius: 5px;
  padding: 15px;
  margin:5px 0 5px 0;
  background-color: #edf6ff;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-flow:row;
}

.box-header {
  width: auto;
  height: auto;
  max-width: 100%;
  display:flex;
  border-radius:5px;
  background: white;
  margin:0 10px 0 0;
  padding:0 2.5px 0 0;
  /* margin: 0 25px 25px 0; */
  /* display: inline-block; */
  /* vertical-align: top; */
  /* overflow: auto; */

}


.box-content {
  width: 300px;
  height: auto;
  /* max-width: 100%; */
  margin:0 10px 0 10px;
  padding:2.5px;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
  border-radius:5px;
  background: white;
}

.box-content h2 {
  margin:5px;
  padding:5px;
}


.box-list {
  /* border: solid 1px #ccc; */
  min-height: 35px;
  background: white;
  border-radius: 0px;
  
  overflow: hidden;
  display: block;
}

.box-item {
  border:1px solid lightgrey;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  cursor: move;
  background: white;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* .box-item:last-child {
  border: none;
} */

.box-list.cdk-drop-list-dragging .box-content:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
