<div style="display:flex;flex-flow: row;justify-content: space-between;">
  <div></div>
  <div style="text-align: right;">
    <app-clock></app-clock>
  </div>
</div>

<div class="box-container" *ngFor="let member of members">

  <div class="box-header">
    <h1 style="margin:auto;padding:5px">{{member.name}}</h1>
  </div>



  <div class="box-content">
    <h2>Queue</h2>

    <div class="box-list" cdkDropList #Queue="cdkDropList" [cdkDropListData]="member.queue" [cdkDropListConnectedTo]="[Doing]"
      (cdkDropListDropped)="drop($event)">
      <div class="box-item" *ngFor="let item of member.queue" cdkDrag>
        <div style="width: 100%;border-bottom: 1px solid lightgrey;">
          <div style="margin:5px">
            {{item.jobName}}
          </div>
        </div>
        <div style="margin:5px;word-break: break-word">{{item.description}}</div>
        <div style="display: flex;flex-flow:row;justify-content: space-between;margin:0px;border-top: 1px solid lightgrey;flex-basis: 100%;">
          <div style="margin:5px;text-align: center;width:100%">{{member.name}}</div>
          <div style="margin:5px;text-align: center;width:100%">D:Time</div>
          <div style="margin:5px;text-align: center;width:100%">Estimate</div>
        </div>
      </div>
    </div>
  </div>


  <div style="position: relative;">
    <div class="add-job">
      <div class="add-job-plus">+</div>
    </div>
  </div>

  <div class="box-content">
    <h2>Doing</h2>

    <div class="box-list" cdkDropList #Doing="cdkDropList" [cdkDropListData]="member.doing" [cdkDropListConnectedTo]="[Queue,Done]"
      (cdkDropListDropped)="drop($event)">
      <div class="box-item" *ngFor="let item of member.doing" cdkDrag>
        <div style="width: 100%;border-bottom: 1px solid lightgrey;">
          <div style="margin:5px">
            {{item.jobName}}
          </div>
        </div>
        <div style="margin:5px;word-break: break-word">{{item.description}}</div>
        <div style="display: flex;flex-flow:row;justify-content: space-between;margin:0px;border-top: 1px solid lightgrey;flex-basis: 100%;">
          <div style="margin:5px;text-align: center;width:100%">{{member.name}}</div>
          <div style="margin:5px;text-align: center;width:100%">D:Time</div>
          <div style="margin:5px;text-align: center;width:100%">Estimate</div>
        </div>
      </div>
    </div>
  </div>

  <div class="box-content">
    <h2>Done</h2>

    <div class="box-list" cdkDropList #Done="cdkDropList" [cdkDropListData]="member.done" [cdkDropListConnectedTo]="[]"
      (cdkDropListDropped)="drop($event)">
      <div class="box-item" *ngFor="let item of member.done" cdkDrag>
        <div style="width: 100%;border-bottom: 1px solid lightgrey;">
          <div style="margin:5px">
            {{item.jobName}}
          </div>
        </div>
        <div style="margin:5px;word-break: break-word">{{item.description}}</div>
        <div style="display: flex;flex-flow:row;justify-content: space-between;margin:0px;border-top: 1px solid lightgrey;flex-basis: 100%;">
          <div style="margin:5px;text-align: center;width:100%">{{member.name}}</div>
          <div style="margin:5px;text-align: center;width:100%">D:Time</div>
          <div style="margin:5px;text-align: center;width:100%">Estimate</div>
        </div>
      </div>
    </div>
  </div>

</div>
