/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body,
html {
  background-color: #66a0ff;
  width: auto;
  height: auto;
  font-family: Arial, Helvetica, sans-serif
}

.zoom {
  /* zoom: 150%;
  -moz-transform: scale(3);
  -moz-transform-origin: 0 0; */
}

.add-job{
  height: 50px;
  width: 50px;
  background: orange;
  border-radius: 50%;
  display:flex;
  position: absolute;
  right:0;
  top:-5px;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0 ,0.2);
}

.add-job-plus{
  margin: auto;
  color:white;
  font-size: 2.5rem;
}

.add-job:hover{
  background:darkgray
}